html, body {
    margin: 0;
    padding: 0;
    height: 100%;
   
  }
  .bg-blur {
    background-image: url("../img/belogrd-skali.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(3px);      
    position: fixed;         
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;            
  }
  .container-h1-belogratSkali {
    position: relative;
    z-index: 1;            
    text-align: center;
    color: #fff;
    font-size: 2em;
   
  }
  .container-left
  {
    position: relative;
    line-height: 1.5em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    width: 70%;
    max-width: 600px;
   
  }
.container-right {
  position: relative;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  width: 70%;
  max-width: 600px;
  
  
}
.text-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.video-index
{
  display: flex;
  justify-content: space-between;
  align-items: center
}

.video-slavi
{
  position: relative;
  margin: 40px auto;
  width: fit-content;
}
.video-belogratSkali {
  position: relative;
  margin: 40px auto;
  width: fit-content;
}